.login{
    font-size: 150%;
    margin: 30px;
    background-color:rgb(242, 255, 255);
    height: 100%;
   align-items: center;
 
    display: flex;
    flex-direction: column;
    padding: 20px;
   
}
.login__container{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px;
   border: 3px solid black;
   border-radius: 20px;
   background-color: darkgrey;
   color: rgb(23, 1, 32);

}
.login_logo{
    width: 100px;
    margin: 10px;
    margin-bottom: 10px;
    padding: 10px;
  

}
.login__signInButton{
    background-color: rgb(226, 161, 20);
    border:6px solid rgb(226, 161, 20);
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
}
.login__registerButton{
    background-color: rgb(226, 161, 20);
    border:6px solid rgb(226, 161, 20);
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
}